<section class="passenger-form form">
  <%= form_for @passenger do |f| %>
    <div class="passenger-form__name">
      <%= f.label :name, "Passenger Name:  " %>
      <%= f.text_field :name, class: "passenger-form__name-text-field" %>
    </div>
    <div class="passenger-form__phone">
      <%= f.label :phone_number, "Phone Number" %>
      <%= f.text_field :phone_number, class: "passenger-form__phone-text-field" %>
    </div>
    <div class="passenger-form__submit">    
      <%= f.submit action_name %>
  </div>
<% end %>
</section>
